@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('../../../../App.css'); 

* {
  font-family: 'Italiana', sans-serif;
}

.textoRoxo {
  color: var(--cor-06);
}

main {
  width: 100%;
  height: 100vh;
  background: var(--cor-07);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secaoDireita {
  width: 30vw;
  height: 70vh;
}

.secaoEsquerda h1 {
  font-size: 10rem;
  color: white;
}

.secaoEsquerda h2 {
  font-size: 5rem;
  text-align: left;
  color: white;
  margin: 1rem 0 0 2rem;
}

.secaoEsquerda button {
  font-size: 3.3rem;
  color: white;
  padding: 0.8rem 4rem;
  margin: 2.5rem 0 0 0;
  border-radius: 40px;
  border: none;
  background-color: var(--cor-06);
}

#flor1 {
  position: relative;
  top: -29px;
  left: 270px;
}
#flor2 {
  position: relative;
  bottom: 650px;
  right: 600px;
}
#flor3 {
  position: relative;
  bottom: 336px;
  right: 1510px;
}
#flor4 {
  position: relative;
  bottom: 1400px;
  right: 1155px;
}
#flor5 {
  position: relative;
  bottom: 1300px;
  left: 217px;
}
#flor6 {
  position: relative;
  bottom: 1100px;
  right: 100px;
}
#flor7 {
  position: relative;
  bottom: 1700px;
  right: 350px;
}